body{
	background-color: #F3421C;
}

img{
	width: 15%;
	height: 25%;
	display: inline-block;
}

h2{
	display: inline-block;
	color: white;
}

footer{
	margin-top: 10%;
}

button{
	display: inline-block;
}

#box_model_1{
	background-color: #F3421C;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

/*Estilo para box de los datos personales*/
#box_model_datos_personales{
	width: 20%;
	color: white;
	background-color: #F3421C;
	padding-left: 22px;
	height: 100%;
	
}

/*Estilo para box de habilidades*/
#box_model_habilidades{
	margin-left: 4%;
	color: white;
	padding-left: 3%;
	border-left: 2px solid white;
}

li{
	font-style: italic;
}

#box_model_contacto{
	display: inline-block;
	margin-left: 2%;
	color: white;
	visibility: hidden;
}

#boton_contacto{
	background-color: #4CAF50;
	border: none;
	color: white;
	text-align: center;
	cursor: pointer;
	padding: 1% 1%;
}